{% capture the_collection %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
    {% assign document = site[the_collection] | sort: 'order' %}
{% endif %}

{% for links in document %}

    {% if links.title == page.title %}

        {% unless forloop.first %}
            {% assign prevTitle = prev.title %}
            {% assign prevUrl = {{ prev.url | prepend: site.baseurl }} %}
        {% endunless %}

        {% unless forloop.last %}
            {% assign next = document[forloop.index] %}
            {% assign nextUrl = {{ next.url | prepend: site.baseurl }} %}
        {% endunless %}

    {% endif %}

    {% assign prev = links %}

{% endfor %}

<script>
    document.body.onkeyup = function(e){
        if (e.keyCode == '37') { window.location = '{{prevUrl}}'; }
        if (e.keyCode == '39') { window.location = '{{nextUrl}}'; }
    };
</script>

<div class="row collections-next-prev">

    <div class="small-12 medium-6 columns prev">
        {% if prevUrl %}<a href="{{prevUrl}}" title="{{ prevTitle }}">Previous: {{ prevTitle }}</a>{% endif %}
    </div>

    <div class="small-12 medium-6 {% unless prevUrl %}medium-offset-6 {% endunless %}columns next">
        {% if nextUrl %}<a href="{{nextUrl}}" title="{{ next.title }}">Next: {{ next.title }}</a>{% endif %}
    </div>
    
</div>