<nav class="top-bar">
    <div class="top-bar-left mobile-menu show-for-small-only">
        <div class="menu-icon-wrapper">
            <button class="menu-icon" type="button" data-toggle="offCanvasLeft"></button>
        </div>
    </div>
    <div class="top-bar-left nav-menu">
        <ul class="menu hide-for-small-only">
            {% assign navCount = site.data.nav-main | size %}
            {% assign navCount = navCount | divided_by:2 %}
            {% for item in site.data.nav-main %}
                <li><a href="{{ item.url | prepend: site.baseurl }}" title="{{ item.text }}">{{ item.text }}</a></li>
                {% if forloop.index == navCount %}
                    {% break %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="top-bar-section top-bar-logo nav-menu">
        <ul class="menu">
            <li>
                <a href="{{ "/" | prepend: site.baseurl }}" title="Home">
                    <span class="stacked-rbm-logo-icon"><span></span></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="top-bar-right nav-menu">
        <ul class="menu hide-for-small-only">
            {% for item in site.data.nav-main offset:navCount %}
                <li><a href="{{ item.url | prepend: site.baseurl }}" title="{{ item.text }}">{{ item.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>