{% include head.html %}

<body class="off-canvas-wrapper">
    
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div id="offCanvasLeft" class="off-canvas position-left nav-menu" data-off-canvas>
            test
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            
            {% include components/nav-menu.html %}

            <section id="site-content">

                <div class="row">

                    <div class="small-12 columns post-content">
                        {{ content }}
                    </div>

            </section>

        </div>

{% include footer.html %}